div{
  /* padding: 15px; */
  box-sizing: border-box;
}
#header_style {
  background-color: #d6cbd3;
  text-align: center;
  height: 3vh;
}

#footer_style {
  background-color: #ada397;
  text-align: center;
  height: 3vh;
  clear: both;
}

#nav_style {
  background-color: #bdcebe;
  float: left;
  width: 20%;
  height: 87vh;
  /* height: 100vh; */


}

#main_area_style {
  background-color: #eca1a6;
  float: left;
  width: 100%;
  height: 87vh;
  /* height: 100vh; */
  padding-right: 5px;
}


a:link {
  color: Violet;
}
a:visited {
  color: MediumSeaGreen;
}

a:hover {
  color: Tomato;
}

a:active {
  background-color: DodgerBlue;
  color: white;
}


p::first-line {
  font-variant: small-caps;
}

img{
  border: 2px solid  black;
}


.Tomato {
  padding: 5px;
  background-color: #d6cbd3;
}
